* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#board, .boardInf{
    max-width: 500px;
}

#board{
    display: grid;
    grid-template-columns: repeat(10,1fr);
}

#start, .boardInf {
    font-size: 25px;
}

#gameOver {
    display: none;
}

.boardInf {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#start {
    background-color:chocolate;
    border: none;
    color: white;
}

 #scoreBoard {
    display: inline-flex;
 }

 .square {
    aspect-ratio: 1;
 }

.emptySquare {
    background-color: aqua;
}

.snakeSquare {
    background-color: cadetblue;
}

.foodSquare {
    background-color: burlywood;
}